@import "_mixins";
$redishcolor: #f23030;
$transparent: rgba(0, 0, 0, 0.9);
$paragraph: rgba(0, 0, 0, 0.8);
$soft: rgba(0, 0, 0, 0.6);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.social {
  display: none;
}
.header {
  padding: 0 1em;
  position: fixed;
  width: 100%;
  z-index: 1;
  @include flex(column, flex-start, flex-start);
  background: $transparent;

  &__logo {
    max-width: 150px;
    padding: 15px 0;
  }
  .nav {
    width: 100%;
    background: $transparent;
    position: absolute;
    top: 100%;
    padding-left: 1em;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.5s ease-out;
    &__list {
      list-style: none;
      :hover {
        color: $redishcolor;
      }
    }
    &__link {
      color: #fff;
      line-height: 2em;
      text-transform: capitalize;
      font-size: 0.7rem;
      z-index: 100;
      @include text(#fff, 1.1rem, 500, capitalize, 2em);
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }
  }
  .nav__active {
    transform: scale(1, 1);
    transition: transform 500ms ease-in-out;
  }
  .nav__active .nav__link {
    transition: opacity 250ms ease-in-out 250ms;
    opacity: 1;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    height: 100%;
    @include flex(column, center, stretch, nowrap);
    &__line {
      transition: all 300ms ease-in-out;
      background-color: #fff;
      display: block;
      width: 35px;
      height: 3px;
      margin: 5px 0;
    }

    &__active .hamburger__line:nth-child(1) {
      transform: rotate(-45deg) translate(-17px, 3px);
    }
    &__active .hamburger__line:nth-child(2) {
      opacity: 0;
    }
    &__active .hamburger__line:nth-child(3) {
      transform: rotate(45deg) translate(-15px, -1px);
    }
  }
}
@media screen and (min-width: 750px) {
  .social {
    position: fixed;
    display: block;
    z-index: 10;
    width: 100%;
    height: 40px;
    top: 0;
    background: #000;

    transition: transform 500ms ease-in-out;
    @include flex(row, stretch, center, nowrap);
    &__paragraph {
      padding: 0 20px;
      color: #fff;
      font-size: 0.8rem;
    }
    &__icon {
      margin: 0 auto;
      list-style: none;
      color: #fff;
      @include flex(row, stretch, stretch, nowrap);
      &--action {
        padding: 0 7px;
      }
    }
  }
  .social--active {
    transform: scale(1, 0);
    transform-origin: top;
  }
  .header {
    margin: 0;
    padding: 0;
    top: 40px;
    transition: transform 0.5s ease-out;
    &__logo {
      margin: 0 auto;
    }
    .nav {
      background: $transparent;
      all: unset;
      z-index: 100;
      height: 70px;
      width: 100%;

      &__list {
        height: 100%;
        @include flex(row, space-evenly, center, nowrap);
      }
      &__link {
        all: unset;
        z-index: 10;
        @include text(#fff, 0.86rem, 500, uppercase, 2em);
        &:hover {
          color: $redishcolor;
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
  .header--active {
    transform: translateY(-40px);
  }
}
.main {
  .latest-album {
    &__intro {
      color: rgb(255, 255, 255);
      position: relative;
      @include flex(column, center, center);
      &__img {
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
      &__header,
      &__paragraph,
      &--link {
        z-index: 0;
        position: absolute;
      }
      &__header {
        top: 35%;
        left: 15%;
        font-size: 4.5vmax;
      }
      &__paragraph {
        top: 55%;
        left: 15%;
        font-size: 1.8vmax;
      }
      &--link {
        background-color: $redishcolor;
        color: white;
        padding: 10px 20px;
        top: 70%;
        left: 15%;
        font-size: 2vmax;
      }
    }
    &__description {
      position: relative;
      padding: 100px 20px;
      width: 100%;
      height: 100%;
      text-align: center;
      &__header1 {
        color: $transparent;
        font-size: 2.8rem;
      }
      &__paragraph1 {
        color: $paragraph;
        font-size: 1.2rem;
        margin: 30px 0;
        &--span {
          color: $redishcolor;
        }
      }
      &__hr {
        margin: 20px auto;
        width: 90%;
        color: rgba(0, 0, 0, 0.3);
      }
      &__img {
        position: relative;
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
      &__header2 {
        text-transform: uppercase;
        color: $transparent;
        font-size: 1.7rem;
        margin: 20px 0;
      }
      &__author {
        color: $soft;
        font-size: 1.5rem;
      }
      &__paragraph2 {
        color: $paragraph;
        font-size: 1.1rem;
      }
      &--link {
        margin-top: 30px;
        text-transform: capitalize;
        background-color: $redishcolor;
        color: white;
        padding: 10px 20px;
        line-height: 70px;
        font-size: 2vmax;
      }
    }
    &__playlist {
      &__songs {
        display: grid;
        grid-template-columns: minmax(50px) minmax(30px, 70px) 50px 50px;
        grid-template-rows: 1fr 1fr;
        width: 90%;
        margin: 7px auto;
        padding: 5px;
        background-color: rgba(214, 210, 210, 0.3);
        border: 1px solid rgba(214, 210, 210, 0.4);
        &__header {
          color: $transparent;
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
          font-size: 0.8rem;
          justify-self: flex-start;
          margin: 3px 10px;
        }
        &__description {
          font-size: 0.7rem;
          color: $paragraph;
          grid-column: 1 / span 1;
          grid-row: 2 / span 1;
          margin-left: 10px;
          justify-self: flex-start;
          &--strong {
            font-family: cursive;
            font-size: 0.75rem;
            color: $transparent;
            font-weight: bold;
          }
        }
        &__link {
          &--playbutton {
            color: $redishcolor;
            font-size: 0.7rem;
            width: 20px;
            grid-column: 3 / span 1;
            grid-row: 1 / span 2;
            justify-self: end;
            align-self: center;
          }
          &--pausebutton {
            color: $redishcolor;
            margin: auto;
            font-size: 0.7rem;
            width: 20px;
            grid-column: 4 / span 1;
            grid-row: 1 / span 2;
            justify-self: end;
            align-self: center;
            margin: auto;
          }
        }
        &:hover {
          background-color: $redishcolor;
          * {
            color: #fff;
          }
        }
      }
    }
    &__art {
      color: #fff;
      height: 120vh;
      width: 100%;
      background: url("assets/p1.jpg") no-repeat center;
      background-size: cover;
      text-align: center;
      padding: 70px 0;
      &__header {
        margin: 30px 0;
        line-height: 20px;
      }
      &__paragraph {
        margin: 0 10px;
        font-weight: 200;
        font-size: 1.2rem;
      }
      &--link {
        display: inline-block;
        margin: 50px 0;
        color: #fff;
        font-size: 2.5rem;
        &:hover {
          color: $redishcolor;
        }
      }
    }
  }
  @media screen and (min-width: 750px) {
    .latest-album__description {
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 600px));
      &__header1 {
        grid-column: 1 / span 2;
      }
      &__hr {
        grid-column: 1 / span 2;
      }
      &__paragraph1 {
        grid-column: 1 / span 2;
      }
      .description__container {
        max-width: 80%;
        margin-left: 60px;
      }
      .latest-album__playlist {
        max-width: 100%;
      }
    }
    .latest-album__art {
      min-height: 100%;
      padding: 0px 50px;
      @include flex(column, center, stretch, nowrap);
      font-size: 2rem;
      &--link {
        margin-top: 70px;
        &:hover {
          color: $redishcolor;
        }
      }
    }
  }
  .featured-album {
    text-align: center;
    &__header {
      font-size: 2rem;
      margin: 40px auto;
      padding: 10px;
      border: 2px solid $redishcolor;
      max-width: 330px;
      text-transform: uppercase;
      font-weight: 600;
      color: $transparent;
    }
    &__card {
      @include flex(row, stretch, center, nowrap);
      width: 70%;
      margin: 40px auto;
      height: 350px;
      background: linear-gradient(to bottom left, #000000, #a7a6a6);
      &__content {
        color: #fff;
        font-size: 0.8rem;
        border: 5px solid white;
        background: $redishcolor;
        height: 80%;
        width: 80%;
        margin: auto;
        padding: 30px 10px;
        text-align: start;
      }
    }
    &__description {
      margin: 150px 0;
      &__item {
        &__header {
          margin: 10px 0;
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: 300;
        }
        &__hr {
          margin: auto;
          width: 75px;
        }
        &__social {
          margin: 10px 0;
          &--link {
            font-size: 0.8rem;
            border-radius: 7px;
            padding: 2px 7px;
            background: $redishcolor;
            color: white;
          }
          &__likes {
            font-weight: 550;
          }
        }
      }
    }
    &__pro {
      height: 100vh;
      @include flex(row, stretch, center, nowrap);
      width: 100%;
      background: url("assets/p1.jpg") no-repeat center;
      background-size: cover;
      &__card {
        background: $redishcolor;
        color: white;
        margin: auto;
        width: 75%;
        height: 55%;
        padding: 40px 7px;
        &__header {
          margin: 15px 0;
        }
        &__paragraph {
          margin: 20px 0;
          font-family: cursive;
        }
        &__link {
          display: inline-block;
          margin: 20px;
          background: #fff;
          color: black;
          padding: 10px 30px;
        }
      }
    }
  }
  @media screen and (min-width: 750px) {
    .featured-album {
      &__header {
        grid-column: 1 / span 2;
      }
      &__description {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      &__card {
        min-width: 300px;
        max-width: 400px;
        font-size: 1.5rem;
      }
    }
  }
}
